@page
@model OwlApp.Pages.AssetList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.AssetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.UpdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.UpdateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.Market)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Market)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.RealStrike)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.RealStrike)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Asset.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
